<nav class="navbar navbar-expand-sm navbar-primary bg-primary" *ngIf="displayMenu">
  <div class="container-fluid">
    <a class="navbar-brand">AUTHENTICATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="">HOME</a>
        </li>
        <li class="nav-item" *ngIf="displayEmployee">
          <a class="nav-link text-white" routerLink="customers">Employee</a>
        </li>
        <li class="nav-item" *ngIf="displayUser">
          <a class="nav-link text-white" routerLink="user">User</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="login">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>